.Rproj.user
.Rhistory
.RData
_publish.R
_book
_RJafroc_files
rsconnect
docs/
_bookddown_files/
packages.bib
*.rds
*.pdf
_bookdown_files/
libs/
what-is-this-repository-for.html
summary.html
rjafrocquickstart.html
404.html
